.table {
    border-color: grey;
    font-size: 14px;
    border-top: 1px solid #EBEEF5;
    border-left: 1px solid #EBEEF5;
}
.border-l-b-1 {
    border-right: 1px solid #EBEEF5;
    border-bottom: 1px solid #EBEEF5;
}
.table td,th {
    padding: 4px;
}